[Unit]
Description=updates the Arch Linux mirror
After = network-online.target
Wants = network-online.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/update-mirror

[Install]
WantedBy=graphical.target
WantedBy=multi-user.target
